@use "tailwindcss";




.app-container{
  font-size:12px;
  padding: 2rem 2rem;
  font-family: lora;
  display:flex;
  .left{
    width: 20vw;
    margin-right:2rem;
  }
  .right{
    width: 75vw;
  }
}


.avatar{
  border-radius:50%;
  width: 200px;
  height: 200px;
  object-fit:cover;

}